/*@import url(https://fonts.googleapis.com/css?family-Yanone+Kaffeesatz);*/
/*h1,h2,h3,h4{
    font-family:Arial, Helvetica, sans-serif;
}*/
*{
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /*letter-spacing: 1.5;*/
    
}
/*-----------------estilos para hacer el heder-------------*/
.header{
    height: 60px;
}
.header .contenedor{
    display: flex;
    justify-content: space-between;
}
.imglogo{
    display: block;
    width:90px ;
    height: 90px;
    padding: 2px;
    margin: 3px;
    border-radius: 8px;
}
 .icono{
    margin: 8px;
}

.icono-menu{
   display: block;
    width:40px ;
    height: 40px;
    
    font-size: 30px;
    background:#4F011F ;
    color: #FFFFFF;
  text-align: center;
  line-height: 45px;
    border-radius: 8px;
    padding: 5px;
    margin-left: auto;
    cursor: pointer;
}
/**---------estilos del nuestro menu-----------------*/
.nav{
    position: absolute;
    top: 60px;
    left:-100%;
    width: 100%;
transition: all 0.4s;

}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu--link{
    display: block;
   padding:15px ;
   background:#4F011F;
   text-decoration: none;
   color: #FFFFBF;
}
.menu--link:hover{
    background: #FFFFBF;
    color:#4F011F;
}
.mostrar{
    left: 0;
}

/*--------estilos del banner------*/
.select{
    background: #FFFFBF;
    color: #E0E0E0;
}
.banner{
    margin-top: -60px;
    position: relative;
    z-index: -1000;
}
.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #190508;
    text-align: center;
}
.banner--txt{
    display: none;
}