body {
background-color:rgb(202, 100, 100);
}
h1 {
    color: blue;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif, roboto;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 10px;


}
h2{
    background: #000456;
    color:magenta;
    font-family: monospace;
    font-style: italic;
}
 p{
    color:rgb(122, 185, 122);
}
h1{
    
}